In [1]:
#Importing some modules here, but rest will be imported as per the requirement
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
import scipy.stats as stats
import warnings
warnings.simplefilter('ignore')

In [2]:
data2=pd.read_csv("Test_Dataset.csv",low_memory=False)

In [3]:
data2

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau
0,12202227,11250,0.0,1.0,1.0,1.0,0.0,112500,4474.8,Relative,...,16.0,Yes,Yes,Self-employed,NaN,0.757150809,0.629674251,0.0515,716.0,2.0
1,12279381,13500,1.0,1.0,1.0,1.0,3.0,49752,3252.15,Alone,...,18.0,No,Yes,Self-employed,NaN,0.342269008,NaN,NaN,181.0,NaN
2,12222714,38250,0.0,1.0,0.0,1.0,0.0,67500,3375,Alone,...,19.0,Yes,Yes,Business Entity Type 3,NaN,0.683664701,NaN,0.1503,281.0,NaN
3,12265215,20250,0.0,0.0,1.0,0.0,0.0,50849.55,3814.65,Alone,...,20.0,No,No,Medicine,0.351581,0.229950297,0.67224289,NaN,1442.0,4.0
4,12203970,13500,1.0,1.0,0.0,1.0,0.0,43603.2,2515.95,Alone,...,13.0,Yes,Yes,Self-employed,0.731110,0.56697104,0.73098737,NaN,927.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,12210181,11700,0.0,0.0,0.0,1.0,2.0,107820,3152.25,Alone,...,9.0,Yes,No,Self-employed,0.495015,0.599435733,0.276440695,NaN,537.0,1.0
80896,12206257,29250,0.0,1.0,1.0,1.0,2.0,116430.75,4630.5,Alone,...,15.0,Yes,Yes,Kindergarten,0.803057,NaN,0.680138822,0.1072,316.0,0.0
80897,12200446,54000,1.0,0.0,1.0,1.0,0.0,52128,2742.3,Alone,...,14.0,Yes,No,Self-employed,NaN,0.40305926,0.215182404,NaN,426.0,0.0
80898,12244943,13500,0.0,0.0,1.0,0.0,0.0,25470,1435.05,Alone,...,5.0,Yes,Yes,Industry: type 9,NaN,0.236401524,0.579727423,0.1392,1186.0,2.0
80899,12229890,10350,1.0,0.0,0.0,0.0,1.0,26955,1475.1,Alone,...,9.0,Yes,Yes,Business Entity Type 2,0.127368,0.442904279,0.456109739,0.1206,1056.0,1.0

In [4]:
Categorical_columns=["Car_Owned",
                     "Bike_Owned",
                     "Active_Loan",
                     "House_Own",
                     "Accompany_Client",
                     "Client_Income_Type",
                     "Client_Education",
                     "Client_Marital_Status",
                     "Client_Gender",
                     "Loan_Contract_Type",
                     "Client_Housing_Type",
                     "Mobile_Tag",
                     "Homephone_Tag",
                     "Workphone_Working",
                     "Client_Occupation",
                     "Cleint_City_Rating",
                     "Application_Process_Day",
                     "Client_Permanent_Match_Tag",
                     "Client_Contact_Work_Tag",
                     "Type_Organization",
                     "Default"]

In [5]:
Numerical_columns=[]
for each in data2.columns:
    #print(each)
    if each in Categorical_columns:
        #print(each)
        pass
    else:
        Numerical_columns.append(each)
#######################################################3        
Numerical_columns.remove("ID")
Categorical_columns.remove("Default")

In [6]:
#These need some reason why they are not going along.
check=[]
for each in data2.columns:
    if each in Categorical_columns:
        try:
            data2[each]=data2[each].astype("category")
        except:
            check.append(each)
            continue
    elif each in Numerical_columns:
        try:
            data2[each]=data2[each].astype("float64")
        except:
            check.append(each)
            continue

In [7]:
check

['Client_Income',
 'Credit_Amount',
 'Loan_Annuity',
 'Population_Region_Relative',
 'Age_Days',
 'Employed_Days',
 'Registration_Days',
 'ID_Days',
 'Score_Source_2',
 'Score_Source_3']

In [8]:
symbols=[]
for col in check:
    for each in data2[col]:
        try :
            float(each)
        except:
            symbols.append(each)

In [9]:
for col in check:
    data2[col].replace(to_replace=symbols, value=np.nan, inplace=True)

In [10]:
for each in check:
    try:
        data2[each].astype("float64")
    except:
        print(each)
    finally:
        data2[each]=data2[each].astype("float64")

In [11]:
data2.dtypes

ID                               int64
Client_Income                  float64
Car_Owned                     category
Bike_Owned                    category
Active_Loan                   category
House_Own                     category
Child_Count                    float64
Credit_Amount                  float64
Loan_Annuity                   float64
Accompany_Client              category
Client_Income_Type            category
Client_Education              category
Client_Marital_Status         category
Client_Gender                 category
Loan_Contract_Type            category
Client_Housing_Type           category
Population_Region_Relative     float64
Age_Days                       float64
Employed_Days                  float64
Registration_Days              float64
ID_Days                        float64
Own_House_Age                  float64
Mobile_Tag                    category
Homephone_Tag                 category
Workphone_Working             category
Client_Occupation             category
Client_Family_Members          float64
Cleint_City_Rating            category
Application_Process_Day       category
Application_Process_Hour       float64
Client_Permanent_Match_Tag    category
Client_Contact_Work_Tag       category
Type_Organization             category
Score_Source_1                 float64
Score_Source_2                 float64
Score_Source_3                 float64
Social_Circle_Default          float64
Phone_Change                   float64
Credit_Bureau                  float64
dtype: object

In [12]:
data2

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau
0,12202227,11250.0,0.0,1.0,1.0,1.0,0.0,112500.00,4474.80,Relative,...,16.0,Yes,Yes,Self-employed,NaN,0.757151,0.629674,0.0515,716.0,2.0
1,12279381,13500.0,1.0,1.0,1.0,1.0,3.0,49752.00,3252.15,Alone,...,18.0,No,Yes,Self-employed,NaN,0.342269,NaN,NaN,181.0,NaN
2,12222714,38250.0,0.0,1.0,0.0,1.0,0.0,67500.00,3375.00,Alone,...,19.0,Yes,Yes,Business Entity Type 3,NaN,0.683665,NaN,0.1503,281.0,NaN
3,12265215,20250.0,0.0,0.0,1.0,0.0,0.0,50849.55,3814.65,Alone,...,20.0,No,No,Medicine,0.351581,0.229950,0.672243,NaN,1442.0,4.0
4,12203970,13500.0,1.0,1.0,0.0,1.0,0.0,43603.20,2515.95,Alone,...,13.0,Yes,Yes,Self-employed,0.731110,0.566971,0.730987,NaN,927.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,12210181,11700.0,0.0,0.0,0.0,1.0,2.0,107820.00,3152.25,Alone,...,9.0,Yes,No,Self-employed,0.495015,0.599436,0.276441,NaN,537.0,1.0
80896,12206257,29250.0,0.0,1.0,1.0,1.0,2.0,116430.75,4630.50,Alone,...,15.0,Yes,Yes,Kindergarten,0.803057,NaN,0.680139,0.1072,316.0,0.0
80897,12200446,54000.0,1.0,0.0,1.0,1.0,0.0,52128.00,2742.30,Alone,...,14.0,Yes,No,Self-employed,NaN,0.403059,0.215182,NaN,426.0,0.0
80898,12244943,13500.0,0.0,0.0,1.0,0.0,0.0,25470.00,1435.05,Alone,...,5.0,Yes,Yes,Industry: type 9,NaN,0.236402,0.579727,0.1392,1186.0,2.0
80899,12229890,10350.0,1.0,0.0,0.0,0.0,1.0,26955.00,1475.10,Alone,...,9.0,Yes,Yes,Business Entity Type 2,0.127368,0.442904,0.456110,0.1206,1056.0,1.0

In [23]:
data2["Score_Source_2"][data2["Score_Source_2"].isna()]

5       NaN
10      NaN
35      NaN
56      NaN
83      NaN
         ..
80846   NaN
80857   NaN
80859   NaN
80874   NaN
80896   NaN
Name: Score_Source_2, Length: 3716, dtype: float64

In [25]:
####################################################################
def NaN_treatment(dataframe,Categorical_list, Numerical_list):
    df=dataframe
    j=0
    k=0
    for col in df.columns:
        if col in Numerical_list :
            mean=df[col].mean()
            #print(" Column is ",df[col].dtypes,mean)
            df[col].fillna(value=mean,axis=0,inplace=True)
            k+=1
        elif col in Categorical_list:
            mode=df[col].mode(dropna=True)[0]
            #print(mode)
            #print(" Column is ",df[col].dtypes,mode)
            df[col].fillna(value=mode,axis=0,inplace=True)
            j+=1
        #print("\n")
    print("The number of categorical columns is :", j)
    print("The Number of Numerical columns is :",k)
    return df
#####################################################################

In [27]:
data3=data2.copy()
NaN_treatment(data3,Categorical_columns, Numerical_columns) # Can use mean values to replace because we are going to use bagging algorithm

The number of categorical columns is : 20
The Number of Numerical columns is : 18

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau
0,12202227,11250.0,0.0,1.0,1.0,1.0,0.0,112500.00,4474.80,Relative,...,16.0,Yes,Yes,Self-employed,0.501752,0.757151,0.629674,0.051500,716.0,2.000000
1,12279381,13500.0,1.0,1.0,1.0,1.0,3.0,49752.00,3252.15,Alone,...,18.0,No,Yes,Self-employed,0.501752,0.342269,0.511575,0.117942,181.0,1.897432
2,12222714,38250.0,0.0,1.0,0.0,1.0,0.0,67500.00,3375.00,Alone,...,19.0,Yes,Yes,Business Entity Type 3,0.501752,0.683665,0.511575,0.150300,281.0,1.897432
3,12265215,20250.0,0.0,0.0,1.0,0.0,0.0,50849.55,3814.65,Alone,...,20.0,No,No,Medicine,0.351581,0.229950,0.672243,0.117942,1442.0,4.000000
4,12203970,13500.0,1.0,1.0,0.0,1.0,0.0,43603.20,2515.95,Alone,...,13.0,Yes,Yes,Self-employed,0.731110,0.566971,0.730987,0.117942,927.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,12210181,11700.0,0.0,0.0,0.0,1.0,2.0,107820.00,3152.25,Alone,...,9.0,Yes,No,Self-employed,0.495015,0.599436,0.276441,0.117942,537.0,1.000000
80896,12206257,29250.0,0.0,1.0,1.0,1.0,2.0,116430.75,4630.50,Alone,...,15.0,Yes,Yes,Kindergarten,0.803057,0.515739,0.680139,0.107200,316.0,0.000000
80897,12200446,54000.0,1.0,0.0,1.0,1.0,0.0,52128.00,2742.30,Alone,...,14.0,Yes,No,Self-employed,0.501752,0.403059,0.215182,0.117942,426.0,0.000000
80898,12244943,13500.0,0.0,0.0,1.0,0.0,0.0,25470.00,1435.05,Alone,...,5.0,Yes,Yes,Industry: type 9,0.501752,0.236402,0.579727,0.139200,1186.0,2.000000
80899,12229890,10350.0,1.0,0.0,0.0,0.0,1.0,26955.00,1475.10,Alone,...,9.0,Yes,Yes,Business Entity Type 2,0.127368,0.442904,0.456110,0.120600,1056.0,1.000000

In [29]:
data3[Categorical_columns]=data3[Categorical_columns].astype("category")

In [32]:
data3.to_csv("pre-processing done test_data.csv")

In [33]:
data3

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau
0,12202227,11250.0,0.0,1.0,1.0,1.0,0.0,112500.00,4474.80,Relative,...,16.0,Yes,Yes,Self-employed,0.501752,0.757151,0.629674,0.051500,716.0,2.000000
1,12279381,13500.0,1.0,1.0,1.0,1.0,3.0,49752.00,3252.15,Alone,...,18.0,No,Yes,Self-employed,0.501752,0.342269,0.511575,0.117942,181.0,1.897432
2,12222714,38250.0,0.0,1.0,0.0,1.0,0.0,67500.00,3375.00,Alone,...,19.0,Yes,Yes,Business Entity Type 3,0.501752,0.683665,0.511575,0.150300,281.0,1.897432
3,12265215,20250.0,0.0,0.0,1.0,0.0,0.0,50849.55,3814.65,Alone,...,20.0,No,No,Medicine,0.351581,0.229950,0.672243,0.117942,1442.0,4.000000
4,12203970,13500.0,1.0,1.0,0.0,1.0,0.0,43603.20,2515.95,Alone,...,13.0,Yes,Yes,Self-employed,0.731110,0.566971,0.730987,0.117942,927.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,12210181,11700.0,0.0,0.0,0.0,1.0,2.0,107820.00,3152.25,Alone,...,9.0,Yes,No,Self-employed,0.495015,0.599436,0.276441,0.117942,537.0,1.000000
80896,12206257,29250.0,0.0,1.0,1.0,1.0,2.0,116430.75,4630.50,Alone,...,15.0,Yes,Yes,Kindergarten,0.803057,0.515739,0.680139,0.107200,316.0,0.000000
80897,12200446,54000.0,1.0,0.0,1.0,1.0,0.0,52128.00,2742.30,Alone,...,14.0,Yes,No,Self-employed,0.501752,0.403059,0.215182,0.117942,426.0,0.000000
80898,12244943,13500.0,0.0,0.0,1.0,0.0,0.0,25470.00,1435.05,Alone,...,5.0,Yes,Yes,Industry: type 9,0.501752,0.236402,0.579727,0.139200,1186.0,2.000000
80899,12229890,10350.0,1.0,0.0,0.0,0.0,1.0,26955.00,1475.10,Alone,...,9.0,Yes,Yes,Business Entity Type 2,0.127368,0.442904,0.456110,0.120600,1056.0,1.000000

In [ ]:
from sklearn.preprocessing import OneHotEncoder
encode2=OneHotEncoder()
encode2.fit(data3)
data3=encode2.transform(data3)