In [1]:
#Importing some modules here, but rest will be imported as per the requirement
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
import scipy.stats as stats
import warnings
warnings.simplefilter('ignore')

In [2]:
data2=pd.read_csv("Test_Dataset.csv",low_memory=False)

In [3]:
data2

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau
0,12202227,11250,0.0,1.0,1.0,1.0,0.0,112500,4474.8,Relative,...,16.0,Yes,Yes,Self-employed,NaN,0.757150809,0.629674251,0.0515,716.0,2.0
1,12279381,13500,1.0,1.0,1.0,1.0,3.0,49752,3252.15,Alone,...,18.0,No,Yes,Self-employed,NaN,0.342269008,NaN,NaN,181.0,NaN
2,12222714,38250,0.0,1.0,0.0,1.0,0.0,67500,3375,Alone,...,19.0,Yes,Yes,Business Entity Type 3,NaN,0.683664701,NaN,0.1503,281.0,NaN
3,12265215,20250,0.0,0.0,1.0,0.0,0.0,50849.55,3814.65,Alone,...,20.0,No,No,Medicine,0.351581,0.229950297,0.67224289,NaN,1442.0,4.0
4,12203970,13500,1.0,1.0,0.0,1.0,0.0,43603.2,2515.95,Alone,...,13.0,Yes,Yes,Self-employed,0.731110,0.56697104,0.73098737,NaN,927.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,12210181,11700,0.0,0.0,0.0,1.0,2.0,107820,3152.25,Alone,...,9.0,Yes,No,Self-employed,0.495015,0.599435733,0.276440695,NaN,537.0,1.0
80896,12206257,29250,0.0,1.0,1.0,1.0,2.0,116430.75,4630.5,Alone,...,15.0,Yes,Yes,Kindergarten,0.803057,NaN,0.680138822,0.1072,316.0,0.0
80897,12200446,54000,1.0,0.0,1.0,1.0,0.0,52128,2742.3,Alone,...,14.0,Yes,No,Self-employed,NaN,0.40305926,0.215182404,NaN,426.0,0.0
80898,12244943,13500,0.0,0.0,1.0,0.0,0.0,25470,1435.05,Alone,...,5.0,Yes,Yes,Industry: type 9,NaN,0.236401524,0.579727423,0.1392,1186.0,2.0
80899,12229890,10350,1.0,0.0,0.0,0.0,1.0,26955,1475.1,Alone,...,9.0,Yes,Yes,Business Entity Type 2,0.127368,0.442904279,0.456109739,0.1206,1056.0,1.0

In [4]:
Categorical_columns=["Car_Owned",
                     "Bike_Owned",
                     "Active_Loan",
                     "House_Own",
                     "Accompany_Client",
                     "Client_Income_Type",
                     "Client_Education",
                     "Client_Marital_Status",
                     "Client_Gender",
                     "Loan_Contract_Type",
                     "Client_Housing_Type",
                     "Mobile_Tag",
                     "Homephone_Tag",
                     "Workphone_Working",
                     "Client_Occupation",
                     "Cleint_City_Rating",
                     "Application_Process_Day",
                     "Client_Permanent_Match_Tag",
                     "Client_Contact_Work_Tag",
                     "Type_Organization",
                     "Default"]

In [5]:
Numerical_columns=[]
for each in data2.columns:
    #print(each)
    if each in Categorical_columns:
        #print(each)
        pass
    else:
        Numerical_columns.append(each)
#######################################################3        
Numerical_columns.remove("ID")
Categorical_columns.remove("Default")

In [6]:
#These need some reason why they are not going along.
check=[]
for each in data2.columns:
    if each in Categorical_columns:
        try:
            data2[each]=data2[each].astype("category")
        except:
            check.append(each)
            continue
    elif each in Numerical_columns:
        try:
            data2[each]=data2[each].astype("float64")
        except:
            check.append(each)
            continue

In [7]:
check

['Client_Income',
 'Credit_Amount',
 'Loan_Annuity',
 'Population_Region_Relative',
 'Age_Days',
 'Employed_Days',
 'Registration_Days',
 'ID_Days',
 'Score_Source_2',
 'Score_Source_3']

In [8]:
symbols=[]
for col in check:
    for each in data2[col]:
        try :
            float(each)
        except:
            symbols.append(each)

In [9]:
for col in check:
    data2[col].replace(to_replace=symbols, value=np.nan, inplace=True)

In [10]:
for each in check:
    try:
        data2[each].astype("float64")
    except:
        print(each)
    finally:
        data2[each]=data2[each].astype("float64")

In [11]:
data2.dtypes

ID                               int64
Client_Income                  float64
Car_Owned                     category
Bike_Owned                    category
Active_Loan                   category
House_Own                     category
Child_Count                    float64
Credit_Amount                  float64
Loan_Annuity                   float64
Accompany_Client              category
Client_Income_Type            category
Client_Education              category
Client_Marital_Status         category
Client_Gender                 category
Loan_Contract_Type            category
Client_Housing_Type           category
Population_Region_Relative     float64
Age_Days                       float64
Employed_Days                  float64
Registration_Days              float64
ID_Days                        float64
Own_House_Age                  float64
Mobile_Tag                    category
Homephone_Tag                 category
Workphone_Working             category
Client_Occupation             category
Client_Family_Members          float64
Cleint_City_Rating            category
Application_Process_Day       category
Application_Process_Hour       float64
Client_Permanent_Match_Tag    category
Client_Contact_Work_Tag       category
Type_Organization             category
Score_Source_1                 float64
Score_Source_2                 float64
Score_Source_3                 float64
Social_Circle_Default          float64
Phone_Change                   float64
Credit_Bureau                  float64
dtype: object

In [12]:
data2

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau
0,12202227,11250.0,0.0,1.0,1.0,1.0,0.0,112500.00,4474.80,Relative,...,16.0,Yes,Yes,Self-employed,NaN,0.757151,0.629674,0.0515,716.0,2.0
1,12279381,13500.0,1.0,1.0,1.0,1.0,3.0,49752.00,3252.15,Alone,...,18.0,No,Yes,Self-employed,NaN,0.342269,NaN,NaN,181.0,NaN
2,12222714,38250.0,0.0,1.0,0.0,1.0,0.0,67500.00,3375.00,Alone,...,19.0,Yes,Yes,Business Entity Type 3,NaN,0.683665,NaN,0.1503,281.0,NaN
3,12265215,20250.0,0.0,0.0,1.0,0.0,0.0,50849.55,3814.65,Alone,...,20.0,No,No,Medicine,0.351581,0.229950,0.672243,NaN,1442.0,4.0
4,12203970,13500.0,1.0,1.0,0.0,1.0,0.0,43603.20,2515.95,Alone,...,13.0,Yes,Yes,Self-employed,0.731110,0.566971,0.730987,NaN,927.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,12210181,11700.0,0.0,0.0,0.0,1.0,2.0,107820.00,3152.25,Alone,...,9.0,Yes,No,Self-employed,0.495015,0.599436,0.276441,NaN,537.0,1.0
80896,12206257,29250.0,0.0,1.0,1.0,1.0,2.0,116430.75,4630.50,Alone,...,15.0,Yes,Yes,Kindergarten,0.803057,NaN,0.680139,0.1072,316.0,0.0
80897,12200446,54000.0,1.0,0.0,1.0,1.0,0.0,52128.00,2742.30,Alone,...,14.0,Yes,No,Self-employed,NaN,0.403059,0.215182,NaN,426.0,0.0
80898,12244943,13500.0,0.0,0.0,1.0,0.0,0.0,25470.00,1435.05,Alone,...,5.0,Yes,Yes,Industry: type 9,NaN,0.236402,0.579727,0.1392,1186.0,2.0
80899,12229890,10350.0,1.0,0.0,0.0,0.0,1.0,26955.00,1475.10,Alone,...,9.0,Yes,Yes,Business Entity Type 2,0.127368,0.442904,0.456110,0.1206,1056.0,1.0

In [13]:
data2

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau
0,12202227,11250.0,0.0,1.0,1.0,1.0,0.0,112500.00,4474.80,Relative,...,16.0,Yes,Yes,Self-employed,NaN,0.757151,0.629674,0.0515,716.0,2.0
1,12279381,13500.0,1.0,1.0,1.0,1.0,3.0,49752.00,3252.15,Alone,...,18.0,No,Yes,Self-employed,NaN,0.342269,NaN,NaN,181.0,NaN
2,12222714,38250.0,0.0,1.0,0.0,1.0,0.0,67500.00,3375.00,Alone,...,19.0,Yes,Yes,Business Entity Type 3,NaN,0.683665,NaN,0.1503,281.0,NaN
3,12265215,20250.0,0.0,0.0,1.0,0.0,0.0,50849.55,3814.65,Alone,...,20.0,No,No,Medicine,0.351581,0.229950,0.672243,NaN,1442.0,4.0
4,12203970,13500.0,1.0,1.0,0.0,1.0,0.0,43603.20,2515.95,Alone,...,13.0,Yes,Yes,Self-employed,0.731110,0.566971,0.730987,NaN,927.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,12210181,11700.0,0.0,0.0,0.0,1.0,2.0,107820.00,3152.25,Alone,...,9.0,Yes,No,Self-employed,0.495015,0.599436,0.276441,NaN,537.0,1.0
80896,12206257,29250.0,0.0,1.0,1.0,1.0,2.0,116430.75,4630.50,Alone,...,15.0,Yes,Yes,Kindergarten,0.803057,NaN,0.680139,0.1072,316.0,0.0
80897,12200446,54000.0,1.0,0.0,1.0,1.0,0.0,52128.00,2742.30,Alone,...,14.0,Yes,No,Self-employed,NaN,0.403059,0.215182,NaN,426.0,0.0
80898,12244943,13500.0,0.0,0.0,1.0,0.0,0.0,25470.00,1435.05,Alone,...,5.0,Yes,Yes,Industry: type 9,NaN,0.236402,0.579727,0.1392,1186.0,2.0
80899,12229890,10350.0,1.0,0.0,0.0,0.0,1.0,26955.00,1475.10,Alone,...,9.0,Yes,Yes,Business Entity Type 2,0.127368,0.442904,0.456110,0.1206,1056.0,1.0

In [28]:
data2.to_csv("pre-processing done test_data.csv")

In [30]:
data3

,Unnamed: 0,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,...,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau
0,0,12202227.0,NaN,0.0,1.0,1.0,1.0,0.0,NaN,NaN,...,16.0,Yes,Yes,Self-employed,NaN,NaN,NaN,0.0515,716.0,2.0
1,1,12279381.0,NaN,1.0,1.0,1.0,1.0,3.0,NaN,NaN,...,18.0,No,Yes,Self-employed,NaN,NaN,NaN,NaN,181.0,NaN
2,2,12222714.0,NaN,0.0,1.0,0.0,1.0,0.0,NaN,NaN,...,19.0,Yes,Yes,Business Entity Type 3,NaN,NaN,NaN,0.1503,281.0,NaN
3,3,12265215.0,NaN,0.0,0.0,1.0,0.0,0.0,NaN,NaN,...,20.0,No,No,Medicine,0.351581,NaN,NaN,NaN,1442.0,4.0
4,4,12203970.0,NaN,1.0,1.0,0.0,1.0,0.0,NaN,NaN,...,13.0,Yes,Yes,Self-employed,0.731110,NaN,NaN,NaN,927.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,80895,12210181.0,NaN,0.0,0.0,0.0,1.0,2.0,NaN,NaN,...,9.0,Yes,No,Self-employed,0.495015,NaN,NaN,NaN,537.0,1.0
80896,80896,12206257.0,NaN,0.0,1.0,1.0,1.0,2.0,NaN,NaN,...,15.0,Yes,Yes,Kindergarten,0.803057,NaN,NaN,0.1072,316.0,0.0
80897,80897,12200446.0,NaN,1.0,0.0,1.0,1.0,0.0,NaN,NaN,...,14.0,Yes,No,Self-employed,NaN,NaN,NaN,NaN,426.0,0.0
80898,80898,12244943.0,NaN,0.0,0.0,1.0,0.0,0.0,NaN,NaN,...,5.0,Yes,Yes,Industry: type 9,NaN,NaN,NaN,0.1392,1186.0,2.0
80899,80899,12229890.0,NaN,1.0,0.0,0.0,0.0,1.0,NaN,NaN,...,9.0,Yes,Yes,Business Entity Type 2,0.127368,NaN,NaN,0.1206,1056.0,1.0

In [26]:
data3

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau
0,12202227.0,,0.0,1.0,1.0,1.0,0.0,,,Relative,...,16.0,Yes,Yes,Self-employed,NaN,,,0.0515,716.0,2.0
1,12279381.0,,1.0,1.0,1.0,1.0,3.0,,,Alone,...,18.0,No,Yes,Self-employed,NaN,,NaN,NaN,181.0,NaN
2,12222714.0,,0.0,1.0,0.0,1.0,0.0,,,Alone,...,19.0,Yes,Yes,Business Entity Type 3,NaN,,NaN,0.1503,281.0,NaN
3,12265215.0,,0.0,0.0,1.0,0.0,0.0,,,Alone,...,20.0,No,No,Medicine,0.351581,,,NaN,1442.0,4.0
4,12203970.0,,1.0,1.0,0.0,1.0,0.0,,,Alone,...,13.0,Yes,Yes,Self-employed,0.731110,,,NaN,927.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,12210181.0,,0.0,0.0,0.0,1.0,2.0,,,Alone,...,9.0,Yes,No,Self-employed,0.495015,,,NaN,537.0,1.0
80896,12206257.0,,0.0,1.0,1.0,1.0,2.0,,,Alone,...,15.0,Yes,Yes,Kindergarten,0.803057,NaN,,0.1072,316.0,0.0
80897,12200446.0,,1.0,0.0,1.0,1.0,0.0,,,Alone,...,14.0,Yes,No,Self-employed,NaN,,,NaN,426.0,0.0
80898,12244943.0,,0.0,0.0,1.0,0.0,0.0,,,Alone,...,5.0,Yes,Yes,Industry: type 9,NaN,,,0.1392,1186.0,2.0
80899,12229890.0,,1.0,0.0,0.0,0.0,1.0,,,Alone,...,9.0,Yes,Yes,Business Entity Type 2,0.127368,,,0.1206,1056.0,1.0

In [21]:
data2=data3.copy()

In [22]:
data2.describe()

,ID,Child_Count,Own_House_Age,Client_Family_Members,Application_Process_Hour,Score_Source_1,Social_Circle_Default,Phone_Change,Credit_Bureau
count,8.090000e+04,78572.000000,27319.000000,79256.000000,78494.000000,35407.000000,39810.000000,78477.000000,68618.000000
mean,1.224045e+07,0.418393,12.013727,2.153288,12.070566,0.501752,0.117942,961.007263,1.897432
std,2.335396e+04,0.726007,11.937654,0.915802,3.257224,0.211653,0.108621,827.880031,1.867447
min,1.220000e+07,0.000000,0.000000,1.000000,0.000000,0.015600,0.000000,0.000000,0.000000
25%,1.222023e+07,0.000000,5.000000,2.000000,10.000000,0.332620,0.057700,271.000000,0.000000
50%,1.224045e+07,0.000000,9.000000,2.000000,12.000000,0.506789,0.087100,755.000000,1.000000
75%,1.226068e+07,1.000000,15.000000,3.000000,14.000000,0.675585,0.148500,1568.000000,3.000000
max,1.228090e+07,19.000000,65.000000,20.000000,23.000000,0.946098,1.000000,4292.000000,25.000000

In [25]:
to_modify=[]
########################################################
for each in data2.columns:
    if each in Categorical_columns:
        data2[each]=data2[each].astype("category")
        continue
    if each in Numerical_columns:
        try: 
            data2[each]=data2[each].astype("float64")
        except:
            print(each)
            for val in data2[each]:
                try:
                    float(val)
                except:
                    if type(val)==str:
                        to_modify.append([each,data2[each][data2[each]==val].index[0]])
#########################################################3

Client_Income
Credit_Amount
Loan_Annuity

KeyboardInterrupt:

In [ ]:
data2.to_csv("pre-processing done test_data.csv")

In [ ]:
data2.describe()